.pixel-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 8px;
    border-left: 4px solid var(--primary-color);
    border-right: 4px solid var(--primary-color);
    background-color: var(--secondary-bg);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    
    & h3 {
        margin-top: 0;
        color: var(--primary-color);
        font-size: 1.3rem;
    }

    & p {
        margin: 0.5rem 0;
        line-height: 1.4;
        color: var(--text-color);
    }

    & .div-pixel-score-icons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0.5rem;
        margin-top: 0.5rem;

        & .pixel-icon {
            width: 60px;
            height: 60px;
            transition: transform 0.2s ease;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    & .div-pixel-notes, & .div-pixel-tags {
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 100%;
        box-sizing: border-box;
        margin-top: 30px;
        padding: 0 20px;
        font-size: 1rem;
    }

    & .div-pixel-tags {
        flex-direction: row;
        flex-wrap: wrap;

        & .tag-pill {
            margin: 3px;
            padding: 5px 10px;
            border-radius: 999px;
            color: #fff;
            background-color: var(--primary-color);
            font-size: 0.9rem;
            white-space: nowrap;
            cursor: default;
            transition: background-color 0.2s;
        }

        & .tag-pill:hover {
            background-color: var(--primary-color-hover);
        }
    }
}

#hoverCardContainer {
    display: none;
    position: absolute;
    z-index: 999;
    transform: translate(12px, 12px);
}



.input-date {
    padding: 0.5rem 0.8rem;
    font-size: 1rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color: var(--bg-color);
    color: var(--text-color);
    max-width: 220px;
    width: 100%;
}


.pixel-date-result {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    margin: 0 1rem;
}


/* Calendar */
:root {
  --fc-button-bg-color: var(--primary-color);
  --fc-button-hover-bg-color: var(--primary-color-hover);
  --fc-today-bg-color: var(--bg-color);
}

.calendar-input {
    overflow-y: auto;
    max-height: 400px;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 8px;
}

.fc-header-toolbar {
    position: sticky;
    top: 0;
    margin-bottom: 0 !important;
    background-color: var(--bg-color);
    z-index: 10;
}

.fc-toolbar-title {
    margin: 0.5rem !important;
}

.fc-multiMonthYear-view {
    border: none !important;
    margin: 0;
}

.fc-multimonth-month {}

.fc-multimonth-title {}

.fc-col-header-cell {
    font-weight: 500;
}

.fc-multimonth-daygrid {}

.fc-daygrid-day-frame {}

.fc-day:has(.fc-event) {
    cursor: pointer;
}

.fc-day-today {
    border: 2px solid var(--primary-color) !important;
}


@media (max-width: 800px) {
    .pixel-date-result {
        margin: 0;
        padding: 0.5rem;
    }

    .pixel-card {
        padding: 1rem 0.5rem;

        & h3 {
            font-size: 1.1rem;
        }

        & .pixel-icon {
            width: 40px !important;
            height: 40px !important;
        }

        & .div-pixel-notes {
            font-size: 0.9rem;
        }

        & .tag-pill {
            font-size: 0.8rem !important;
        }
    }
}