footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px auto;
    
    &::before {
        content: "";
        display: block;
        position: relative;
        width: 500px;
        max-width: 90%;
        height: 1px;
        margin-bottom: 20px;
        background-color: var(--primary-color);
    }

    .footer-link-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
    }
    
    a {
        width: 30px;
        height: 30px;
        margin: 10px 0;
        transition: transform 0.2s ease-in-out;
    }

    img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    
    a:hover, img:hover {
        transform: scale(1.1);
    }

    .version {
        font-size: 0.75rem;
        color: var(--text-color);
    }
}