:root {
    --primary-color: #2fa1ff;
    --secondary-color: #ff4b4b;
    --tertiary-color: #0dbf6c;
    --bg-color: #ffffff;
    --secondary-bg: #f0f2f6;
    --text-color: #262730;

    --primary-color-hover: #1a8cd4;

    --word-card-text-color: #000000;
    --word-card-color: #c1dffc;
}




body {
    font-family: "Segoe UI", Roboto, sans-serif;
    margin: 0;
    padding: 0;
    max-width: 100vw;
    background-color: var(--bg-color);
    color: var(--text-color);
}

a {
    text-decoration: none;
}

.link-ext {
    color: var(--primary-color);
    text-decoration: underline;
    text-decoration-color: var(--primary-color);
    transition: color 0.2s;
}

.link-ext:hover {
    color: var(--primary-color-hover);
}

.info-link {
    cursor: help;
}


.container {
    max-width: 1200px;
    padding: 20px;
    margin: 0 auto;
}


.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
    gap: 1rem;

    & .hero-logo {
        width: 35px;
        border-radius: 10px;
    }
}


.upload-section {
    text-align: center;
    padding: 2rem;
    background-color: var(--secondary-bg);
    border-radius: 8px;
    margin-bottom: 1rem;
}

.upload-section.dragover {
    border: 2px dashed var(--primary-color);
    background-color: #e0f3ff;
}


.notice {
    background-color: var(--secondary-bg);
    border-left: 4px solid var(--primary-color);
    padding: 12px;
    margin: 10px 0;
    font-size: 1.1rem;
    max-width: 500px;
    color: var(--text-color);
    margin: 0 auto;
}

.help-export {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    padding: 1rem;

    & p {
        font-size: 1.2rem;
        color: var(--text-color);
        margin-bottom: 1rem;
    }

    & img {
        max-height: 600px;
        border-radius: 8px;
    }
}


.no-data-error {
    display: none;
    text-align: center;
    padding: 2rem;
    font-size: 1.5rem;
    color: var(--secondary-color);
    background-color: var(--secondary-bg);
    border-radius: 8px;
    margin-bottom: 1rem;
}


.stats-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    margin-bottom: 3rem;
}


.stat-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-bg);
    padding: 0.7rem;
    border-radius: 8px;
    text-align: center;

    & h3 {
        font-size: 1.1rem;
        color: var(--text-color);
    }

    & p {
        font-size: 1.3rem;
        margin: 0 0 1rem;
        color: var(--text-color);
    }

    .pie-chart {
        display: none;
        width: 150px;
        height: 150px;
    }

    &:hover .pie-chart {
        display: block;
    }
}


.chart-container {
    background-color: var(--secondary-bg);
    padding: 1rem;
    border-radius: 8px;
    min-height: 100px;
    max-width: 100%;
    margin-bottom: 3rem;

    &.group-options {
        margin-bottom: 0.6rem;
    }

    & canvas {
        max-width: 100%;
        max-height: 600px;
    }

    & canvas:not(.free-canvas) {
        max-height: 400px !important;
    }

    & p {
        text-align: center;
        font-size: 1.2rem;
        margin-top: 1.5rem;
    }
}


.grid-charts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 0.6rem;
    margin-bottom: 3rem;

    &.grid-single-column {
        grid-template-columns: 1fr !important;
    }
}


/* Buttons */
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    background-color: var(--primary-color);
    color: #ffffff;
    border: none;
    margin: 0 auto;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 1rem;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
        background-color: var(--primary-color-hover);
    }
}


.button-primary {
    background-color: var(--primary-color);
    color: white;
}

.button-secondary {
    background-color: var(--secondary-color);
    color: white;
}

.button-tertiary {
    background-color: var(--tertiary-color);
    color: white;
}


.popup-message {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--primary-color);
    color: white;
    padding: 12px 20px;
    border-radius: 6px;
    font-size: 14px;
    opacity: 0;
    transition: opacity 2s ease;
    z-index: 99;

    &.error {
        background: var(--secondary-color);
    }
    
    &.visible {
        opacity: 1;
        transition: opacity 0.3s ease;
    }
}




@media (max-width: 800px) {
    .chart-container {
        padding: 0.5rem;

        & h2 {
            padding: 0.5rem;
        }
    }

    .grid-charts {
        grid-template-columns: 1fr !important;
    }
}