:root {
    --primary-color: #2fa1ff;
    --secondary-color: #ff4b4b;
    --bg-color: #ffffff;
    --secondary-bg: #f0f2f6;
    --text-color: #262730;
}

body {
    font-family: "Segoe UI", Roboto, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
    gap: 1rem;
    
    & .hero-logo {
        width: 35px;
        border-radius: 10px;
    }
}

.upload-section {
    text-align: center;
    padding: 2rem;
    background-color: var(--secondary-bg);
    border-radius: 8px;
    margin-bottom: 1rem;
}

.no-data-error {
    text-align: center;
    padding: 2rem;
    font-size: 1.5rem;
    color: var(--secondary-color);
    background-color: var(--secondary-bg);
    border-radius: 8px;
    margin-bottom: 1rem;
}

.stats-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    margin-bottom: 2rem;
}

.stat-card {
    background-color: var(--secondary-bg);
    padding: 0.7rem;
    border-radius: 8px;
    text-align: center;

    & h3 {
        font-size: 1.1rem;
        color: var(--text-color);
    }

    & p {
        font-size: 1.3rem;
        color: var(--text-color);
    }
}

.chart-container {
    background-color: var(--secondary-bg);
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 2rem;
    min-height: 100px;
    max-width: 100%;

    & canvas {
        max-width: 100%;
        max-height: 600px;
    }
    & canvas:not(.free-canvas) {
        max-height: 400px !important;
    }

    & p {
        text-align: center;
        font-size: 1.2rem;
        margin-top: 1.5rem;
    }
}

.grid-charts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1rem;

    &.grid-single-column {
        grid-template-columns: 1fr !important;
    }
}

.button {
    background-color: var(--primary-color);
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
}

.button:hover {
    opacity: 0.9;
}


.options {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    padding: 1rem;
    background-color: var(--secondary-bg);
    border-radius: 8px;
    margin-bottom: 1rem;

    & label {
        font-weight: 500;
    }

    & input {
        margin-right: 2rem;
    }

    & .checkbox {
        width: 20px;
        height: 30px;
        accent-color: var(--primary-color);
        cursor: pointer;
    }
}


@media (max-width: 800px) {
    .chart-container {
        padding: 0.5rem;

        & h2 {
            padding: 0.5rem;
        }
    }

    .grid-charts {
        grid-template-columns: 1fr !important;
    }
}