:root {
    --primary-color: #2fa1ff;
    --secondary-color: #ff4b4b;
    --bg-color: #ffffff;
    --secondary-bg: #f0f2f6;
    --text-color: #262730;
}

body {
    font-family: "Segoe UI", Roboto, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
    gap: 1rem;
}

.hero-logo {
    width: 35px;
    border-radius: 10px;
}

.upload-section {
    text-align: center;
    padding: 2rem;
    background-color: var(--secondary-bg);
    border-radius: 8px;
    margin-bottom: 2rem;
}

.stats-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    margin-bottom: 2rem;
}

.stat-card {
    background-color: var(--secondary-bg);
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
}

.chart-container {
    background-color: var(--secondary-bg);
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 2rem;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1rem;
}

.button {
    background-color: var(--primary-color);
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
}

.button:hover {
    opacity: 0.9;
}


/***** Wordcloud *****/

.container-word-frequency {
    display: grid;
    grid-template-columns:
        repeat(auto-fill, minmax(100px, 1fr));
    gap: 0.3rem;
}

.word-cloud {
    margin-top: 1rem;
    padding: 1rem;
    background-color: var(--secondary-bg);
    border-radius: 8px;
}

.word-card {
    background-color: var(--primary-color);
    border-radius: 8px;
    text-align: center;
    color: #ffffff;
}

.range-average {
    width: 100%;
    margin-bottom: 1rem;
}


.options-wordcloud {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    padding: 1rem;
    background-color: var(--secondary-bg);
    border-radius: 8px;
    margin-bottom: 1rem;

    & label {
        font-weight: 500;
    }

    & input {
        margin-right: 2rem;
    }
}

.checkbox-wordcloud {
    width: 18px;
    height: 18px;
    accent-color: var(--primary-color);
    cursor: pointer;
}

.input-max-words {
    width: 80px;
    height: 30px;
    padding: 0.4rem 0.6rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}