/* Slider average */
input[type="range"]::-webkit-slider-runnable-track {
    height: 6px;
    background: var(--primary-color);
    border-radius: 3px;
}


input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background: var(--primary-color);
    border-radius: 50%;
    cursor: pointer;
    margin-top: -5px;
}


input[type="range"]::-moz-range-track {
    height: 6px;
    background: var(--primary-color);
    border-radius: 3px;
}


input[type="range"]::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background: var(--primary-color);
    border-radius: 50%;
    cursor: pointer;
}

input[type="color"] {
    padding: 0;
    border-radius: 1px;
}

input[type="color"], select {
    cursor: pointer;
}


/* Default options */
.options {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: .4rem;
    padding: 1rem;
    background-color: var(--secondary-bg);
    border-radius: 8px;
    margin-bottom: 1rem;

    & label {
        font-weight: 500;
        white-space: nowrap;
    }

    & .checkbox:checked {
        width: 20px;
        height: 20px;
        accent-color: var(--primary-color);
        cursor: pointer;
        transition: all 0.2s;
    }

    & .checkbox:checked:hover {
        accent-color: var(--primary-color-hover);
    }

    & .checkbox:not(:checked) {
        border: 2px solid var(--primary-color);
        width: 20px;
        height: 20px;
        appearance: none;
        -webkit-appearance: none;
        cursor: pointer;
        outline: none;
        border-radius: 3px;
        background-color: white;
        transition: all 0.2s;
    }

    & .checkbox:not(:checked):hover {
        border: 3px solid var(--primary-color-hover);
    }

}


.option-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    margin: 0.2rem 0.5rem;
}


.range-slider {
    width: 100%;
}


.input-nb {
    width: 60px;
    height: 20px;
    padding: 0.4rem 0.6rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;

    &.input-large {
        width: 300px;
    }
}

.select {
    width: fit-content;
    min-width: 130px;
    height: 36px;
    padding: 0.4rem 0.2rem;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.textarea {
    width: fit-content;
    max-width: 200px;
    height: 100px;
    padding: 0.2rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;

    &.long {
        height: 200px;
    }
}


/* Settings PNG */
.open-settings {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.div-dialog-settings {
    border: none;
    padding: 0;
    border-radius: 12px;

    &::backdrop {
        background: rgba(0, 0, 0, 0.4);
    }
}

.dialog-settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1.5rem;
    color: var(--text-color);
    border: none;
    background-color: var(--bg-color);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
        
    & h3 {
        margin: 0;
        color: var(--primary-color);
        font-size: 1.3rem;
        text-align: center;
    }

    & .dialog-settings-group {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        min-width: 300px;
        gap: 10px 0px;
        background-color: var(--secondary-bg);
        padding: 1rem;
        border-radius: 8px;
        
        & label {
            font-size: 1rem;
            color: var(--text-color);
        }

        & .empty-line {
            height: 1rem;
        }
    }

    & .dialog-buttons {
        display: flex;
        align-items: center;
        justify-content: end;
        width: 100%;
        gap: 10px;

        & button {
            margin: 0;
        }
    }
}


/* Generating PNG */
#btnDownloadPixelGrid {
    display: none;
    margin-bottom: 2rem;
}

.div-results-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    padding: 0 1rem 1rem;
}

.pixel-png-img {
    max-width: 100%;
    max-height: 600px;

    & img {
        height: auto;
        width: 100%;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        border-radius: 2px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
}

#compareSearchOptions2 {
    margin-top: -2rem !important;
}

@media (max-width: 800px) {
    .input-nb.input-large {
        width: 150px;
    }
}