/* Slider average */
input[type="range"]::-webkit-slider-runnable-track {
    height: 6px;
    background: var(--primary-color);
    border-radius: 3px;
}


input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background: var(--primary-color);
    border-radius: 50%;
    cursor: pointer;
    margin-top: -5px;
}


input[type="range"]::-moz-range-track {
    height: 6px;
    background: var(--primary-color);
    border-radius: 3px;
}


input[type="range"]::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background: var(--primary-color);
    border-radius: 50%;
    cursor: pointer;
}


/* Default options */
.options {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: .4rem;
    padding: 1rem;
    background-color: var(--secondary-bg);
    border-radius: 8px;
    margin-bottom: 1rem;

    & label {
        font-weight: 500;
    }

    & .checkbox {
        width: 20px;
        height: 30px;
        accent-color: var(--primary-color);
        cursor: pointer;
    }
}


.option-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
}


.range-average {
    width: 100%;
    margin-bottom: 1rem;
}

.input-nb {
    width: 60px;
    height: 20px;
    padding: 0.4rem 0.6rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;

    &.input-large {
        width: 300px;
    }
}

.select {
    width: fit-content;
    min-width: 130px;
    height: 36px;
    padding: 0.4rem 0.2rem;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}


/* Settings PNG */
#openSettingsDialog {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--tertiary-color);
    color: white;
}

.dialog-settings {
    gap: 1rem;
    padding: 1.5rem;
    color: var(--text-color);
    border: none;
    border-radius: 12px;
    background-color: var(--bg-color);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);

    &[open] {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    &::backdrop {
        background: rgba(0, 0, 0, 0.4);
    }
        
    & h3 {
        margin: 0;
        color: var(--primary-color);
        font-size: 1.3rem;
        text-align: center;
    }

    & .dialog-settings-group {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        min-width: 200px;
        gap: 10px 0px;
        background-color: var(--secondary-bg);
        padding: 1rem;
        border-radius: 8px;
        
        & label {
            font-size: 1rem;
            color: var(--text-color);
        }

        & .empty-line {
            height: 1rem;
        }
    }

    & .dialog-buttons {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        gap: 10px;
    }
}


/* Generating PNG */
#btnGeneratePixelGrid,
#btnDownloadPixelGrid {
    font-size: 1rem;
    font-weight: 600;
}

#btnDownloadPixelGrid {
    display: none;
    margin-bottom: 2rem;
}

.div-results-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    padding: 0 1rem 1rem;
}

.pixel-png-img {
    max-width: 100%;
    max-height: 600px;

    & img {
        height: auto;
        width: 100%;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        border-radius: 2px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
}