.div-pill-selector {
    margin: 2rem 0 0.5rem;
}

.pill-selector {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.pill {
    padding: 0.4rem 1rem;
    background-color: var(--secondary-bg);
    color: var(--text-color);
    border: 1px solid var(--primary-color);
    border-radius: 999px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
    font-size: 0.9rem;
}

.pill:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.pill.active {
    background-color: var(--primary-color);
    color: #fff;
}


.nav-buttons-card {
    display: none;
    justify-content: center;
    gap: 1rem;
    margin-top: 1.5rem;
}

.nav-button {
    background-color: var(--primary-color);
    color: #ffffff;
    font-size: 1rem;
    padding: 0.6rem 1.2rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.nav-button:hover {
    background-color: var(--primary-color-hover);
}


.pill-date-range-filter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    margin-top: 1rem;
    height: fit-content;
    max-height: 0;
    opacity: 1;
    overflow: hidden;
    pointer-events: none;
    transition: all 0.5s ease;
    
    &.date-range-open {
        max-height: 100px;
        opacity: 1;
        pointer-events: auto;
    }
}