.words-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); */
    gap: 0.5rem;
    padding: 1rem;
}


.word-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    min-width: 120px;
    background-color: var(--primary-color);
    border-radius: 8px;
    padding: 1.5rem 0.5rem;
    color: #ffffff;

    & h4 {
        margin: 0 0 10px;
        font-size: 1.1rem;
    }
    & p {
        margin: 0;
        font-size: 1rem;
    } 
}

.range-average {
    width: 100%;
    margin-bottom: 1rem;
}

.input-nb {
    width: 60px;
    height: 20px;
    padding: 0.4rem 0.6rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}