.words-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-height: 70vh;
    overflow-y: auto;
    gap: 0.5rem;
    padding: 1rem;
    margin: 0 1rem;
}


.word-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    min-width: 120px;
    background-color: var(--word-card-color);
    border-radius: 8px;
    padding: 1.2rem 0.8rem;
    color: var(--word-card-text-color);

    &.searched-word {
        background-color: var(--tertiary-color);
    }

    & h4 {
        margin: 0 0 5px;
        font-size: 1.1rem;
    }
    & p {
        margin: 5px 0 0;
        font-size: 1rem;
    } 
}

#wordcloudContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: fit-content;
    margin: 30px auto;
    border-radius: 8px;

    & canvas {
        margin-bottom: 1rem;
        border-radius: 8px;
        background-color: var(--secondary-bg);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    }
}

#minScoreValue {
    display: inline-block;
    width: 3ch;
    text-align: left;
}




@media (max-width: 800px) {
    .words-container {
        padding: 0.5rem 0;
        margin: 0 0.5rem;
    }

    .word-card {
        min-width: 80px;
        padding: 0.5rem 0.3rem;

        & h4 {
            margin: 0 0 4px;
            font-size: 0.9rem;
        }
        & p {
            margin: 4px 0 0;
            font-size: 0.8rem;
        }
    }
}