.container-word-frequency {
    display: grid;
    grid-template-columns:
        repeat(auto-fill, minmax(100px, 1fr));
    gap: 0.3rem;
}

.word-cloud {
    margin-top: 1rem;
    padding: 1rem;
    background-color: var(--secondary-bg);
    border-radius: 8px;
}

.word-card {
    background-color: var(--primary-color);
    border-radius: 8px;
    text-align: center;
    color: #ffffff;
}

.range-average {
    width: 100%;
    margin-bottom: 1rem;
}

.input-nb {
    width: 60px;
    height: 20px;
    padding: 0.4rem 0.6rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}