.words-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 1rem;
}


.word-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    min-width: 120px;
    background-color: var(--word-card-color);
    border-radius: 8px;
    padding: 1.2rem 0.8rem;
    color: var(--word-card-text-color);

    &.searched-word {
        background-color: var(--tertiary-color);
    }

    & h4 {
        margin: 0 0 5px;
        font-size: 1.1rem;
    }
    & p {
        margin: 5px 0 0;
        font-size: 1rem;
    } 
}